<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Game Galaxy</title>
    <meta name="description" content="Найди игру себе по вкусу." />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Add site Favicon -->
    <link rel="icon" th:href="@{/images/favicon/favicon.png}" sizes="32x32" />
    <link rel="icon" th:href="@{/images/favicon/favicon.png}" sizes="192x192" />
    <!-- Structured Data  -->
    <script type="application/ld+json">
        {
            "@context": "http://game-galaxy.ru",
            "@type": "WebSite",
            "name": "Game Galaxy",
            "url": "http://game-galaxy.ru"
        }
    </script>

    <!-- vendor css (Bootstrap & Icon Font) -->
    <!--    <link rel="stylesheet" href="../static/css/vendor/simple-line-icons.css" />
        <link rel="stylesheet" href="../static/css/vendor/ionicons.min.css" />-->

    <!-- plugins css (All Plugins Files) -->
    <!-- <link rel="stylesheet" href="../static/css/plugins/animate.css" />
    <link rel="stylesheet" href="../static/css/plugins/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../static/css/plugins/jquery-ui.min.css" />
    <link rel="stylesheet" href="../static/css/plugins/jquery.lineProgressbar.css">
    <link rel="stylesheet" href="../static/css/plugins/nice-select.css" />
    <link rel="stylesheet" href="../static/css/plugins/venobox.css" /> -->

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <link rel="stylesheet" th:href="@{/css/vendor/vendor.min.css}" />
    <link rel="stylesheet" th:href="@{/css/plugins/plugins.min.css}" />
    <link rel="stylesheet" th:href="@{/css/style.min.css}">

    <!-- Main Style -->
    <!--     <link rel="stylesheet" th:href="@{/css/style.css}" />-->

</head>

<body>
<!-- Header Area start  -->
<div class="header section">
    <!-- Header Top Message Start -->
    <div class="header-top section-fluid bg-black">
        <div class="container">
        </div>
    </div>
    <!-- Header Top  End -->
    <!-- Header Bottom  Start -->
    <div class="header-bottom d-none d-lg-block">
        <div class="container position-relative">
            <div class="row align-self-center">
                <!-- Header Logo Start -->
                <div class="col-auto align-self-center">
                    <div class="header-logo">
                        <a th:href="shop.html"><img th:src="@{/images/logo/logo.png}" alt="Site Logo" /></a>
                    </div>
                </div>
                <!-- Header Logo End -->

                <!-- Header Action Start -->
                <div class="col align-self-center">
                    <div class="header-actions">
                        <div class="header_account_list">
                            <a href="javascript:void(0)" class="header-action-btn search-btn"><i
                                    class="icon-magnifier"></i></a>
                            <div class="dropdown_search">
                                <form class="action-form" action="#">
                                    <input class="form-control" placeholder="Введите название игры" type="text">
                                    <button class="submit" type="submit"><i class="icon-magnifier"></i></button>
                                </form>
                            </div>
                        </div>
                        <!-- Single Wedge Start -->
                        <div class="header-bottom-set dropdown">
                            <button class="dropdown-toggle header-action-btn" data-bs-toggle="dropdown"><i
                                    class="icon-user"></i></button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a class="dropdown-item" href="/my-account">Мой аккаунт</a></li>
                                <li><a class="dropdown-item" href="/my-account/logout">Выйти</a></li>
                            </ul>
                        </div>
                        <!-- Single Wedge End -->
                        <a href="#offcanvas-cart" class="header-action-btn header-action-btn-cart offcanvas-toggle pr-0">
                            <i class="icon-handbag"></i>
                            <span class="header-action-num">01</span>
                            <!-- <span class="cart-amount">€30.00</span> -->
                        </a>
                        <a href="#offcanvas-mobile-menu" class="header-action-btn header-action-btn-menu offcanvas-toggle d-lg-none">
                            <i class="icon-menu"></i>
                        </a>
                    </div>
                </div>
                <!-- Header Action End -->
            </div>
        </div>
    </div>
    <!-- Header Bottom  End -->
    <!-- Header Bottom  Start -->
    <div class="header-bottom d-lg-none sticky-nav bg-white">
        <div class="container position-relative">
            <div class="row align-self-center">
                <!-- Header Logo Start -->
                <div class="col-auto align-self-center">
                    <div class="header-logo">
                        <a href="/games"><img th:src="@{/images/logo/logo_small.png}" alt="Site Logo" /></a>
                    </div>
                </div>
                <!-- Header Logo End -->

                <!-- Header Action Start -->
                <div class="col align-self-center">
                    <div class="header-actions">
                        <div class="header_account_list">
                            <a href="javascript:void(0)" class="header-action-btn search-btn"><i
                                    class="icon-magnifier"></i></a>
                            <div class="dropdown_search">
                                <form class="action-form" action="#">
                                    <input class="form-control" placeholder="Введите название игры" type="text">
                                    <button class="submit" type="submit"><i class="icon-magnifier"></i></button>
                                </form>
                            </div>
                        </div>
                        <!-- Single Wedge Start -->
                        <div class="header-bottom-set dropdown">
                            <button class="dropdown-toggle header-action-btn" data-bs-toggle="dropdown"><i
                                    class="icon-user"></i></button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a class="dropdown-item" href="/my-account">Мой аккаунт</a></li>
                                <li><a class="dropdown-item" href="/my-account/logout">Выйти</a></li>
                            </ul>
                        </div>
                        <!-- Single Wedge End -->
                        <a href="#offcanvas-cart" class="header-action-btn header-action-btn-cart offcanvas-toggle pr-0">
                            <i class="icon-handbag"></i>
                            <!--                                <span class="header-action-num"></span>-->
                            <!-- <span class="cart-amount">€30.00</span> -->
                        </a>
                        <a href="#offcanvas-mobile-menu" class="header-action-btn header-action-btn-menu offcanvas-toggle d-lg-none">
                            <i class="icon-menu"></i>
                        </a>
                    </div>
                </div>
                <!-- Header Action End -->
            </div>
        </div>
    </div>
    <!-- Header Bottom  End -->
    <!-- Main Menu Start -->
    <div class="bg-black d-none d-lg-block sticky-nav">
        <div class="container position-relative">
            <div class="row">
                <div class="col-md-12 align-self-center">
                    <div class="main-menu">
                        <ul>
                            <li ><a href="/games">Главная</a></li>
                            <li><a href="about.html">О нас</a></li>
                            <li class="dropdown position-static"><a href="/games">Магазин <i
                                    class="ion-ios-arrow-down"></i></a>
                                <ul class="mega-menu d-block">
                                    <li class="d-flex">
                                        <ul class="d-block">
                                            <li class="title"><a href="/games">Жанр</a></li>
                                            <li><a href="/games">Экшен</a></li>
                                            <li><a href="/games">Приключения</a></li>
                                            <li><a href="/games">Гонки</a></li>
                                            <li><a href="/games">Ролевые</a></li>
                                            <li><a href="/games">Стратегии</a></li>
                                        </ul>
                                        <ul class="d-block">
                                            <li class="title"><a href="/games">Издатель</a></li>
                                            <li><a href="/games">Sony Interactive Entertainment</a></li>
                                            <li><a href="/games">Square Enix</a></li>
                                            <li><a href="/games">Bethesda Softworks</a></li>
                                            <li><a href="/games">2К</a></li>
                                            <li><a href="/games">Electronic Arts</a></li>
                                        </ul>
                                        <ul class="d-block">
                                            <li class="title"><a href="/games">Разработчик</a></li>
                                            <li><a href="/games">Naughty Dog</a></li>
                                            <li><a href="/games">Remedy Entertainment</a></li>
                                            <li><a href="/games">Respawn Entertainment</a></li>
                                            <li><a href="/games">DICE</a></li>
                                            <li><a href="/games">Bethesda Game Studios</a></li>
                                        </ul>
                                        <ul class="d-block">
                                            <li class="title"><a href="/games">Цена</a></li>
                                            <li><a href="/games">до 1000 руб.</a></li>
                                            <li><a href="/games">до 2000 руб.</a></li>
                                            <li><a href="/games">до 4500 руб.</a></li>
                                            <li><a href="/games">свыше 4500 руб.</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="contact.html">Обратная связь</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Menu End -->
</div>
<!-- Header Area End  -->

    <!-- login area start -->
    <div class="login-register-area pt-100px pb-100px">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                    <div class="login-register-wrapper">
                        <div class="login-register-tab-list nav">
                            <a class="active" data-bs-toggle="tab" href="#lg1">
                                <h4>Вход</h4>
                            </a>
                            <a data-bs-toggle="tab" href="#lg2">
                                <h4>Регистрация</h4>
                            </a>
                        </div>
                        <div class="tab-content">
                            <div id="lg1" class="tab-pane active">
                                <div class="login-form-container">
                                    <div class="login-register-form">
                                        <form action="/sign-in" method="post">
                                            <input type="text" name="email" placeholder="E-mail" />
                                            <input type="password" name="password" placeholder="Пароль" />
                                            <div class="button-box">
                                                <div class="login-toggle-btn">
                                                    <input type="checkbox" />
                                                    <a class="flote-none" href="javascript:void(0)">Запомнить меня</a>
                                                    <a href="#">Забыли пароль?</a>
                                                </div>
                                                <button type="submit"><span>Войти</span></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div id="lg2" class="tab-pane">
                                <div class="login-form-container">
                                    <div class="login-register-form">
                                        <form action="/sign-up" method="post">
                                            <input type="text" name="firstName" placeholder="Имя" />
                                            <input type="text" name="lastName" placeholder="Фамилия" />
                                            <input type="email" name="email" placeholder="E-mail"  />
                                            <input type="password" name="password" placeholder="Пароль" />
                                            <div class="button-box">
                                                <button type="submit"><span>Регистрация</span></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- login area end -->

<!-- Footer Area Start -->
<div class="footer-area">
    <div class="footer-container">
        <div class="footer-bottom">
            <div class="container">
                <div class="row flex-sm-row-reverse">
                    <div class="col-md-6 text-left">
                        <p class="copy-text">Copyright © 2021 <a class="company-name" href="/games">
                            GameGalaxy</a>. Все права защищены</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer Area End -->

<!-- Global Vendor, plugins JS -->

<!-- Vendor JS -->
<!-- <script th:src="@{/js/vendor/jquery-3.5.1.min.js}"></script>
 <script th:src="@{/js/vendor/popper.min.js}"></script>
 <script th:src="@{js/vendor/bootstrap.min.js}"></script>
 <script th:src="@{/js/vendor/jquery-migrate-3.3.0.min.js}"></script>
 <script th:src="@{/js/vendor/modernizr-3.11.2.min.js}"></script>-->

<!--Plugins JS-->
<!-- <script src="assets/js/plugins/swiper-bundle.min.js"></script>
<script src="assets/js/plugins/jquery-ui.min.js"></script>
<script src="assets/js/plugins/jquery.nice-select.min.js"></script>
<script src="assets/js/plugins/countdown.js"></script>
<script src="assets/js/plugins/scrollup.js"></script>
<script src="assets/js/plugins/jquery.waypoints.js"></script>
<script src="assets/js/plugins/jquery.lineProgressbar.js"></script>
<script src="assets/js/plugins/jquery.zoom.min.js"></script>
<script src="assets/js/plugins/venobox.min.js"></script>
<script src="assets/js/plugins/ajax-mail.js"></script> -->

<!-- Use the minified version files listed below for better performance and remove the files listed above -->
<script th:src="@{/js/vendor/vendor.min.js}"></script>
<script th:src="@{/js/plugins/plugins.min.js}"></script>

<!-- Main Js -->
<script th:src="@{/js/main.js}"></script>
</body>

</html>